---
layout: null
title: Fundamentals
description: innerlee
sitemap:
    priority: 1.0
    lastmod: 2017-11-02
    changefreq: weekly
---
<!DOCTYPE HTML>
<html>

<head>
    {% include head.html %}


</head>

<body class="is-loading">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W6KVCL8"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Intro -->
        <div id="intro">
            <h1>{{site.title}}</h1>
            <h2>Math, Music, Sport and AI</h2>
            <p>Life is a boat on an ocean
                <br /> Let's sail together</p>
            <ul class="actions">
                <li>
                    <a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a>
                </li>
            </ul>
        </div>

        <!-- Header -->
        <header id="header">
            <a href="/" class="logo">{{site.title}}</a>
        </header>

        <!-- Nav -->
        <nav id="nav">

            {% include nav.html %}

        </nav>

        <!-- Main -->
        <div id="main">
            <!-- Featured Post -->
            <article class="post featured">
                <header class="major">
                    <h2>
                        <a>Zhizhong Li</a>
                    </h2>

                    <p>
                        Looking for job oppertunities at Switzerland this year.
                    </p>
                </header>

                <span class="image left"><img src="{{ "/images/photo.jpg" | absolute_url }}" alt="" /></span>
                <p>
                    <!-- I joined <a href="https://www.sensetime.com/" title="SenseTime">SenseTime</a> as a senior research scientist!
                    I set my mission as understanding videos.
                    If you are interested in intern opportunity, please <a href = "mailto:lizz@sensetime.com">contact me</a>!
                    <br> -->
                    I am a senior researcher at SenseTime Hong Kong.
                    I received Ph.D. degree from <a href="http://mmlab.ie.cuhk.edu.hk/" title="Multi-Media Lab">MM-Lab</a>,
                    <a href="https://www.ie.cuhk.edu.hk" title="Information Engineering Department">IE department</a> of <a href="http://www.cuhk.edu.hk/english/index.html" title="The Chinese University of Hong Kong">CUHK</a> at 2019.
                    My research interests mainly focus on machine learning and computer vision.
                    I also have work on graph CNN, reinforcement learning, ensemble learning and geometric optimization.
                    <br>
                    I received M.S. (Mathematics) from <a href="http://english.pku.edu.cn/">Peking University</a> at 2015,
                    and B.S. (Mathematics) and B.A (double major in English) degree from <a href="http://english.zzu.edu.cn/">Zheng Zhou University</a> at 2010.
                </p>

                <br/>
                <h2>Publications</h2>
                <br/>
                <div style="text-align: left">
                    {% include publications.html %}
                </div>

                <br/>
                <h2>Projects</h2>
                <br/>
                <div style="text-align: left">
                    {% include projects.html %}
                </div>

                <br/>
                <h2>Funny Links</h2>
                <br/>
                <div style="text-align: left">
                    {% include funny.html %}
                </div>

                <!-- <p>Regardless of your website's function, the homepage is what brings the user in. If it's anything short of
                    intriguing, captivating, or just plain cool, you're out of luck and you might deter some visitors.
                </p>
                <p>Your homepage must clearly describe what your site is about. Having engaging content will in this manner
                    enable you to offer and it will make your customers more inclined to purchase from you. Content is a
                    way to position your organization in the correct place for your clients to discover you.
                </p>
                <p>
                    In this manner, content in itself is a standout amongst the best promoting apparatuses in your whole advertising toolbox!
                    Rather than making your content around your promoting technique, it's limitlessly more productive to
                    fabricate your showcasing around your content.
                </p> -->

                <!-- <h2>Posts</h2> -->
            </article>

            <!-- Posts -->
            <section class="posts">
                {% for post in site.ai reversed %} {% assign mod3 = forloop.index | modulo: 3 %}
                <article>
                    <header>
                        <span class="date">{{ post.date | date_to_string }}</span>
                        <h2>
                            <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                        </h2>
                    </header>
                    <a href="{{ post.url | absolute_url }}" class="image fit">
                        <img src="{{ post.image | absolute_url }}" alt="" />
                    </a>
                    <p>{{ post.excerpt }}</p>
                    <ul class="actions">
                        <li>
                            <a href="{{ post.url | absolute_url }}" class="button">Full Story</a>
                        </li>
                    </ul>
                </article>
                {% break %}
                {% endfor %}
                <!-- {% for post in site.art reversed %} {% assign mod3 = forloop.index | modulo: 3 %}
                <article>
                    <header>
                        <span class="date">{{ post.date | date_to_string }}</span>
                        <h2>
                            <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                        </h2>
                    </header>
                    <a href="{{ post.url | absolute_url }}" class="image fit">
                        <img src="{{ post.image | absolute_url }}" alt="" />
                    </a>
                    <p>{{ post.excerpt }}</p>
                    <ul class="actions">
                        <li>
                            <a href="{{ post.url | absolute_url }}" class="button">Full Story</a>
                        </li>
                    </ul>
                </article>
                {% break %}
                {% endfor %} -->
                <!-- {% for post in site.life reversed %} {% assign mod3 = forloop.index | modulo: 3 %}
                <article>
                    <header>
                        <span class="date">{{ post.date | date_to_string }}</span>
                        <h2>
                            <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                        </h2>
                    </header>
                    <a href="{{ post.url | absolute_url }}" class="image fit">
                        <img src="{{ post.image | absolute_url }}" alt="" />
                    </a>
                    <p>{{ post.excerpt }}</p>
                    <ul class="actions">
                        <li>
                            <a href="{{ post.url | absolute_url }}" class="button">Full Story</a>
                        </li>
                    </ul>
                </article>
                {% break %}
                {% endfor %} -->
                {% for post in site.math reversed %} {% assign mod3 = forloop.index | modulo: 3 %}
                <article>
                    <header>
                        <span class="date">{{ post.date | date_to_string }}</span>
                        <h2>
                            <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                        </h2>
                    </header>
                    <a href="{{ post.url | absolute_url }}" class="image fit">
                        <img src="{{ post.image | absolute_url }}" alt="" />
                    </a>
                    <p>{{ post.excerpt }}</p>
                    <ul class="actions">
                        <li>
                            <a href="{{ post.url | absolute_url }}" class="button">Full Story</a>
                        </li>
                    </ul>
                </article>
                {% break %}
                {% endfor %}
                {% for post in site.music reversed %} {% assign mod3 = forloop.index | modulo: 3 %}
                <article>
                    <header>
                        <span class="date">{{ post.date | date_to_string }}</span>
                        <h2>
                            <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                        </h2>
                    </header>
                    <a href="{{ post.url | absolute_url }}" class="image fit">
                        <img src="{{ post.image | absolute_url }}" alt="" />
                    </a>
                    <p>{{ post.excerpt }}</p>
                    <ul class="actions">
                        <li>
                            <a href="{{ post.url | absolute_url }}" class="button">Full Story</a>
                        </li>
                    </ul>
                </article>
                {% break %}
                {% endfor %}
                {% for post in site.sport reversed %} {% assign mod3 = forloop.index | modulo: 3 %}
                <article>
                    <header>
                        <span class="date">{{ post.date | date_to_string }}</span>
                        <h2>
                            <a href="{{ post.url | absolute_url }}">{{ post.title }}</a>
                        </h2>
                    </header>
                    <a href="{{ post.url | absolute_url }}" class="image fit">
                        <img src="{{ post.image | absolute_url }}" alt="" />
                    </a>
                    <p>{{ post.excerpt }}</p>
                    <ul class="actions">
                        <li>
                            <a href="{{ post.url | absolute_url }}" class="button">Full Story</a>
                        </li>
                    </ul>
                </article>
                {% break %}
                {% endfor %}
            </section>

            <!-- Footer -->
            <footer>
                <ul class="actions">
                    <li>
                        <a href="{{ "http://goforget.com" | absolute_url }}" class="button">Go Forget</a>
                    </li>
                </ul>
            </footer>

        </div>

        <!-- Footer -->
        {% include foot.html %}

    </div>

    <!-- Scripts -->
    {% include scripts-main.html %} {% include tracking.html %}

</body>

</html>
