
<dl>
    <dt>2018.12</dt>
    <dd>
        <p>[Seminar Talk] A Brief Introducton to Graph Convolution. [<a href="/resources/slides/A brief introduction to graph convolution.pptx">ppt</a>]</p>
    </dd>
    <dt>2017.12</dt>
    <dd>
        <p>[Random Thought] Deep Self-Organized AutoEncoder (unfinished). [<a href="/resources/pdf/soae.pdf">pdf</a>]</p>
    </dd>
    <dt>2017.11</dt>
    <dd>
        <p>[Seminar Talk] GAN & Optimal Transportation. [<a href="/resources/slides/gan talk.pptx">ppt</a>]</p>
    </dd>
    <dt>2017.05</dt>
    <dd>
        <p>[Random Thought] Geometric View of GAN and Visualization. [<a href="/resources/pdf/ganreport.pdf">pdf</a>] [<a href="https://docs.google.com/presentation/d/1KNXx13uKANRleGgaXMzISd4Q8PYtH93eQ7k4_Co-ea0/edit?usp=sharing">ppt</a>]</p>
    </dd>
    <dt>2014.09</dt>
    <dd>
        <p>[Seminar Talk] Geometric Optimization Algorithms for Matrix Completion. [<a href="/resources/slides/Geometric Optimization Algorithms for Matrix Completion.pdf">ppt</a>]</p>
    </dd>
    <dt>2010.07</dt>
    <dd>
        <p>李治中;杨明珊;邹澎;静电场第一类边值外问题的有限差分法求解[A];教育部中南地区高等学校电子电气基础课教学研究会第二十届学术年会会议论文集（下册）[C];2010年 [<a href="http://cpfd.cnki.com.cn/Article/CPFDTOTAL-HNKX201007002034.htm">paper</a>]</p>
    </dd>
    <dt>2010.05</dt>
    <dd>
        <p>[B.A. Thesis] Discovering Cultural Gaps from Translated Works --- with the Case Study of Davis’s Translated work: Chinese Novels [<a href="/resources/pdf/Discovering Cultural Gaps from Translated Works --- with the Case Study of Sir J. F. Davis’s Translated Work - Chinese Novels.pdf">pdf</a>]</p>
    </dd>

</dl>
