
<dl>
    <dt>2018.12</dt>
    <dd>
        <p>[Seminar Talk] A Brief Introducton to Graph Convolution. [<a href="/resources/slides/A brief introduction to graph convolution.pptx">ppt</a>]</p>
    </dd>
    <dt>2017.11</dt>
    <dd>
        <p>[Seminar Talk] GAN & Optimal Transportation. [<a href="/resources/slides/gan talk.pptx">ppt</a>]</p>
    </dd>
    <dt>2014.09</dt>
    <dd>
        <p>[Seminar Talk] Geometric Optimization Algorithms for Matrix Completion. [<a href="/resources/slides/Geometric Optimization Algorithms for Matrix Completion.pdf">ppt</a>]</p>
    </dd>
    <dt>2010.05</dt>
    <dd>
        <p>[B.A. Thesis] Discovering Cultural Gaps from Translated Works --- with the Case Study of Davis’s Translated work: Chinese Novels [<a href="/resources/pdf/Discovering Cultural Gaps from Translated Works --- with the Case Study of Sir J. F. Davis’s Translated Work - Chinese Novels.pdf">pdf</a>]</p>
    </dd>

</dl>
