<dl>
    <!-- <dt>--</dt>
    <dd>
        <p>Lanxin Lei*, Zhizhong Li*, Dahua Lin. Experience Guided Exploration in Reinforcement Learning.</p>
    </dd> -->
    <span class="image right"><img style="width:200px" src="{{ "/images/proj/skeleton.jpg" | absolute_url }}" alt="" /></span>
    <dt>2019.03</dt>
    <dd>
        <p>Sijie Yan*, Zhizhong Li*, Yuanjun Xiong, Huahan Yan, Dahua Lin. Convolutional Sequence
            Generation for Skeleton-Based Action Synthesis; Submitted. </p>
    </dd>
    <span class="image right"><img style="width:200px" src="{{ "/images/proj/fashion.jpg" | absolute_url }}" alt="" /></span>
    <dt>2019.03</dt>
    <dd>
        <p>Xingxing Zou*, Zhizhong Li*, Ke Bai, Dahua Lin, Waikeung Wong. Explainable Clothing Aesthetic Evaluation with
            Gradient Penalty; Submitted. </p>
    </dd>
    <dt>2019.02</dt>
    <dd>
        <p>Lanxin Lei*, Zhizhong Li*, Dahua Lin. Experience Guided Exploration in Reinforcement Learning.</p>
    </dd>
</dl>
