
<dl>
    <!-- <dt>--</dt>
    <dd>
        <p>Lanxin Lei*, Zhizhong Li*, Dahua Lin. Experience Guided Exploration in Reinforcement Learning.</p>
    </dd> -->
    <dt>2019.02</dt>
    <dd>
        <p>Lanxin Lei*, Zhizhong Li*, Dahua Lin. Experience Guided Exploration in Reinforcement Learning.</p>
    </dd>
    <dt>2018.11</dt>
    <dd>
        <p>Sijie Yan*, Zhizhong Li*, Yuanjun Xiong, Huahan Yan, Dahua Lin. Convolutional Sequence
                Generation for Skeleton-Based Action Synthesis. </p>
    </dd>
    <dt>2018.11</dt>
    <dd>
        <p>Xingxing Zou*, Zhizhong Li*, Waikeung Wong. Why Should I Accept Your Suggestion?
            Explainable Clothing Aesthetic Evaluation with Rule Transfer Network. </p>
    </dd>

</dl>
