<dl>
    <span class="image right"><img style="width:200px" src="{{ "/images/proj/path.png" | absolute_url }}" alt="" /></span>
    <dt>2019.05</dt>
    <dd>
        <p style="min-height: 120px;">Lanxin Lei*, Zhizhong Li*, Dahua Lin. Biased Estimates of Advantages over Path Ensembles; Under review. </p>
    </dd>
    <span class="image right"><img style="width:200px" src="{{ "/images/proj/fashion.jpg" | absolute_url }}" alt="" /></span>
    <dt>2019.03</dt>
    <dd>
        <p style="min-height: 120px;">Xingxing Zou*, Zhizhong Li*, Ke Bai, Dahua Lin, Waikeung Wong. Explainable Clothing Aesthetic Evaluation with
            Gradient Penalty; Draft </p>
    </dd>
</dl>
