
<dl>
    <span class="image right"><img style="width:200px" src="{{ "/images/proj/pc.png" | absolute_url }}" alt="" /></span>
    <dt>2019.09</dt>
    <dd>
        <p style="min-height: 120px;">Hao Sun, Zhizhong Li, Xiaotong Liu, Bolei Zhou, Dahua Lin. Policy Continuation with Hindsight Inverse Dynamics; NeurIPS 2019. </p>
    </dd>
    <span class="image right"><img style="width:200px" src="{{ "/images/proj/skeleton.jpg" | absolute_url }}" alt="" /></span>
    <dt>2019.03</dt>
    <dd>
        <p style="min-height: 120px;">Sijie Yan*, Zhizhong Li*, Yuanjun Xiong, Huahan Yan, Dahua Lin. Convolutional Sequence
            Generation for Skeleton-Based Action Synthesis; ICCV 2019. </p>
    </dd>
    <span class="image right"><img style="width:200px" src="{{ "/images/proj/textbook.jpg" | absolute_url }}" alt="" /></span>
    <dt>2018.04</dt>
    <dd>
        <p style="min-height: 150px;">Zhizhong Li. <b>A Stroke of Genius: Generating Images</b>. In Xiao’ou Tang and Yukun Chen, editors,
        Fundamentals of Artificial Intelligence (Senior High School Edition), chapter 8, pages 135–152.
        East China Normal University Press and The Commercial Press, 2018. [<a href="https://www.amazon.cn/dp/B07CXBXRD8">Link</a>]</p>
    </dd>
    <span class="image right"><img style="width:200px" src="{{ "/images/proj/ctmc.jpg" | absolute_url }}" alt="" /></span>
    <dt>2017.08</dt>
    <dd>
        <p style="min-height: 150px;">Zhizhong Li and Dahua Lin. <b>Integrating Specialized Classifiers Based on Continuous Time
        Markov Chain.</b> In Proceedings of the Twenty-Sixth International Joint Conference on Artificial
        Intelligence (IJCAI), pages 2244–2251, 2017. [<a href="https://www.ijcai.org/proceedings/2017/0312.pdf">paper</a>] [<a href="https://github.com/innerlee/CTMCEnsemble.jl">code</a>]</p>
    </dd>
    <span class="image right"><img style="width:200px" src="{{ "/images/proj/polynet.jpg" | absolute_url }}" alt="" /></span>
    <dt>2017.07</dt>
    <dd>
        <p style="min-height: 150px;">Xingcheng Zhang*, Zhizhong Li*, Chen Change Loy, and Dahua Lin. <b>PolyNet: A Pursuit of
        Structural Diversity in Very Deep Networks</b>. In Proceedings of the IEEE Conference on Computer
        Vision and Pattern Recognition (CVPR), pages 718–726, 2017. [<a href="http://openaccess.thecvf.com/content_cvpr_2017/html/Zhang_PolyNet_A_Pursuit_CVPR_2017_paper.html">paper</a>] [<a href="https://github.com/open-mmlab/polynet">repo</a>]</p>
    </dd>
    <span class="image right"><img style="width:200px" src="{{ "/images/proj/retraction.png" | absolute_url }}" alt="" /></span>
    <dt>2015.07</dt>
    <dd>
        <p style="min-height: 150px;">Zhizhong Li, Deli Zhao, Zhouchen Lin, and Edward Y Chang. <b>A New Retraction for Accelerating
        the Riemannian Three-Factor Low-Rank Matrix Completion Algorithm</b>. In Proceedings of the
        IEEE Conference on Computer Vision and Pattern Recognition (CVPR), pages 4530–4538, 2015. [<a href="http://openaccess.thecvf.com/content_cvpr_2015/html/Li_A_New_Retraction_2015_CVPR_paper.html">paper</a>] [<a href="/resources/zip/codes_R3MC_13june_2013-A_R3MC.zip">code</a>]
        </p>
    </dd>
    <span class="image right"><img style="width:200px" src="{{ "/images/proj/steps.png" | absolute_url }}" alt="" /></span>
    <dt>2015.06</dt>
    <dd>
        <p style="min-height: 150px;">Zhizhong Li, Deli Zhao, Zhouchen Lin, and Edward Y Chang. <b>Determining Step Sizes in
        Geometric Optimization Algorithms</b>. In 2015 IEEE International Symposium on Information
        Theory (ISIT), pages 1217–1221. IEEE, 2015. [<a href="https://ieeexplore.ieee.org/abstract/document/7282649">paper</a>] [<a href="/resources/zip/codes_isit.zip">code</a>]</p>
    </dd>
</dl>
